body {
  background-color: rgb(155, 180, 253);
}

h4,
h5 {
  color: darkblue;
  font-weight: bold;
}
.input-field {
  margin-bottom: 0%;
}

p {
  margin-top: 0%;
}

header {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

li {
  list-style-type: none;
}

img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 5px;
  margin-left: 3px;
}

.icons-languages {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 0px;
}

.icons-filtro {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 0px;
}

.dev-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  border: 1px royalblue solid;
  border-radius: 4px;
  padding: 2px;
  margin: 4px;
  color: darkblue;
}

input .col {
  padding: 0%;
}

#filterOptions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#checkboxes span {
  margin-right: 1rem;
}

#radioButtons span {
  color: royalblue;
  font-weight: bold;
}

.nav-wrapper {
  background-color: royalblue;
}

.nav-wrapper a {
  margin-left: 15px;
}

.input-field > input {
  border-bottom: 1px solid royalblue !important;
  -webkit-box-shadow: 0 1px 0 0 royalblue !important;
  box-shadow: 0 1px 0 0 royalblue !important;
}

.input-field > label {
  color: royalblue !important;
}
